In [2]:
import pandas as pd

In [3]:
assinantes = pd.read_csv('newsletter_alucar.csv')
assinantes.head()

          mes  assinantes
0  2017-01-31           0
1  2017-02-28          10
2  2017-03-31          21
3  2017-04-30          34
4  2017-05-31          49

In [11]:
assinantes.dtypes

mes           datetime64[ns]
assinantes             int64
dtype: object

In [5]:
assinantes.shape

(24, 2)

In [9]:
assinantes.isna().sum().sum()

0

In [10]:
assinantes['mes'] = pd.to_datetime(assinantes['mes'])

In [ ]:
assinantes['aumento'] = assinantes['assinantes'].diff()
assinantes['aceleracao'] = assinantes['aumento'].diff()